@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Libre+Franklin:wght@100&family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --main-bg-color: #f9a1bc;
  /* --main-bg-color: #69B05C; */
}

.primary-color {
  color: var(--main-bg-color);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--main-bg-color);
}

::selection {
  color: white;
  background: var(--main-bg-color);
}
