@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Libre+Franklin:wght@100&family=Source+Code+Pro:wght@400;700&display=swap");

.logo {
  border: var(--main-bg-color) 5px solid;
  display: inline-block;
  padding: 5px;
  font-weight: 900;
  color: var(--main-bg-color);
  padding-left: 16px;
  letter-spacing: 3px;
  padding-right: 16px;
  transform: scale(1);
  font-family: "Cousine", monospace;
}

.primary-color {
  color: var(--main-bg-color);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--main-bg-color);
}

::selection {
  color: white;
  background: var(--main-bg-color);
}
