---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const cleanUrl = Astro.url.pathname.replace(/\/$/, "");
const isActive =
  href === "/" ? "" === cleanUrl : cleanUrl.startsWith(href.toString());
const classnames = [
  "text-base w-full mx-auto font-medium text-sm border-transparent text-gray-800 hover:text-gray-700",
  "px-2 content-evenly text-center inline-block font-medium",
];

if (isActive) {
  classnames.push("border-black text-black ");
}
---

<a href={href} class={classnames.join(" ")}> <slot /></a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
