---
import HeaderLink from "./HeaderLink.astro";
import Tabs from "./Tabs.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <div class="logo">Front Lines</div>
  <nav>
    <Tabs />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
