---
import HeaderLink from "./HeaderLink.astro";
import Tabs from "./Tabs.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <div class="logo">Front Lines</div>
  <nav>
    <Tabs />
  </nav>
</header>
