---
import HeaderLink from "./HeaderLink.astro";
---

<div class="relative">
  <nav class="flex overflow-x-auto" aria-label="Tabs">
    <HeaderLink href="/">#TechDesign</HeaderLink>
    <HeaderLink href="/ukraine">#Reform</HeaderLink>
    <HeaderLink href="/caucasus">#HealthcareRevolution</HeaderLink>
    <HeaderLink href="/sahel">#GreenArmy</HeaderLink>
    <HeaderLink href="/syria">#Stocks</HeaderLink>
    <HeaderLink href="/about">#Farmland</HeaderLink>
  </nav>
</div>
