---
import HeaderLink from "./HeaderLink.astro";
---

<div class="relative">
  <nav class="flex overflow-x-auto" aria-label="Tabs">
    <HeaderLink href="/ukraine/">#UkraineWar</HeaderLink>
    <div class="vertical_dotted_line"></div>
    <HeaderLink href="/caucasus/">#NagarnoKarabakhConflict</HeaderLink>
    <div class="vertical_dotted_line"></div>
    <HeaderLink href="/caucasus/">#ChinaTaiwanTensions</HeaderLink>
    <div class="vertical_dotted_line"></div>
    <HeaderLink href="/sahel/">#History</HeaderLink>
    <div class="vertical_dotted_line"></div>
    <HeaderLink href="/syria/">#SyrianCivilWar</HeaderLink>
    <div class="vertical_dotted_line"></div>
    <HeaderLink href="/about/">#Maps</HeaderLink>
  </nav>
</div>
<style>
  .vertical_dotted_line {
    border-left: 2.5px dotted rgb(183, 183, 183);
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }
</style>
