---
import HeaderLink from "./HeaderLink.astro";
---

<div class="">
  <div class="p-6">
    <div class="relative">
      <div class="pb-3">
        <div class="border-b border-gray-200 border-t">
          <nav
            class="-mb-px flex justify-evenly overflow-x-auto"
            aria-label="Tabs"
          >
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/ukraine">Ukraine</HeaderLink>
            <HeaderLink href="/caucasus">Caucasus</HeaderLink>
            <HeaderLink href="/sahel">Sahel</HeaderLink>
            <HeaderLink href="/syria">Syria</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
