---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { color } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={""} description={""} />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
    </style>
  </head>

  <body>
    <Header />
    <main>
      <div class="grid overflow-hidden md grid-cols-12 w-auto">
        <div class="col-start-2 col-span-10">
          <slot />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
