---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { color } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={""} description={""} />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
      .container {
        max-width: 1185px;
        margin: 0 auto;
        padding: 1rem;
      }
    </style>
  </head>

  <body class="container">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
